$color-1: #FFC907;
$color-2: #f0f0f0;
$color-3: #e4e4e4;
$link-color: #999;
$link-decoration: none;
$link-hover-color: #555;
$link-hover-decoration: none;
$white: #ffffff;
$black: #000000;
$title-color: #000000;
$subtitle-color: #444444;
$text-color: #a8a8a8;
$nav-color: #ffffff;
$nav-hover: #49abda;
$header-color: #ffffff;
$teaser-color: #ffffff;
$border-color: #f0f0f0;
$footer-color: #d0d0d0;
$font-light: "open_sanslight",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-regular: "open_sansregular",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-semibold: "open_sanssemibold",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-titles: 'Teko',
sans-serif;
$font-monospace: "Courier New",
Courier,
"Lucida Sans Typewriter",
"Lucida Typewriter",
monospace;
$box-background: #f8f8f8;
$tag-1: #91c7f5;
$tag-2: #eda18a;
$tag-3: #d0a7d1;
$tag-1-end: #81d6cf;
$tag-2-end: #ecc486;
$tag-3-end: #7baedd;
$bg-color-1: #ffffff;
$bg-color-2: #f8f8f8;
$font-size-base: 16px;
$media-big: 1280px;
$media-mid: 1060px;
$media-smallmid: 960px;
$media-small: 768px;
$media-xsmall: 680px;
$media-xxsmall: 450px;
