html {
	font-size: 62.5%;
	@media screen and (max-width: 1024px) {
		font-size: 9px;
	}
	@media screen and (max-width: 750px) {
		font-size: 8px;
	}
	@media screen and (max-width: 350px) {
		font-size: 6.8px;
	}
}
